@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Open+Sans:wght@700&family=Poppins:wght@200;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.bubble-body{
    width: 100%;
    height: 100vh;
    background-image: url(./image/underwater-2.jpg);
    background-size:cover;
    background-position:right 10%;
    position: relative;
    overflow: hidden;
}

.logo{
    font-weight: 700;
    font-size: 45px;
    color: #ffe45e;
    cursor: pointer;
}

.logo:hover{
    color: #ff6392;
    font-size: 35px;
    transition: .5s;
}

.navbar{
    width: 100%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

button{
    color: #ff6392;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #ff6392;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.button2{
    color: #ff6392;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #ff6392;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.button2:hover{
    background: #ff6392;
    color: #ffe45e;
    transition: .5s;
}

button:hover{
    background: #ff6392;
    color: #ffe45e;
    transition: .5s;

}


.content{
    color: #ffe45e;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 2;
}

h1{
    font-size: 80px;
    margin: 10px 0px 30px;
    line-height: 80px;
}

span{
    color: #ff6392;
}

.side-bar{
    width: 50px;
    height: 100vh;
    background: rgba(218, 232, 236, 0.4);
    position: absolute;
    left: 0;
    top: 0;
}

.social-links{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.soc{
    width: 35px;
    padding: 4px;
    background-color: #ff6392;
    border-radius: 20%;
    transform: translateY(-50%);
    position: absolute;
    top: 35%;
}

.soc2{
    width: 35px;
    padding: 4px;
    border-radius: 20%;
    background-color: #ff6392;
    transform: translateY(-50%);
    position: absolute;
    bottom: 50%;
}

.soc:hover, .soc2:hover{
    border: 1px solid #000;
    border-radius: 50%;
    transition: .5s;
}


.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble {
    0% {
        transform:translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform:translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    margin-left: 20px;
    width: 20px;
}

.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 45px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
    width: 35px;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 40px;
}
.bubbles img:nth-child(7){
    animation-delay: 5s;
}

.bubbles img:nth-child(8){
    animation-delay: 3s;
    width: 15px;
}
.bubbles img:nth-child(9){
    animation-delay: 7s;
    width: 25px;
}

.bubbles img:nth-child(10){
    animation-delay: 2s;
    width: 35px;
}

.bubbles img:nth-child(11){
    animation-delay: 5s;
    width: 55px;
}

.bubbles img:nth-child(13){
    animation-delay: 2s;
    width: 35px;
}

.bubbles img:nth-child(14){
    animation-delay: 7s;
    width: 25px;
}





/**********Media Queries************/


@media screen and (max-width: 900px) and (min-width: 600px){
    
    h1{
        font-size: 60px;
        margin: 10px 0px 25px;
        line-height: 70px;
    }
}


@media screen and (max-width: 600px) and (min-width: 300px){
    
    .logo{
        font-weight: 700;
        font-size: 25px;
    }

    h1{
        font-size: 30px;
        margin: 10px 0px 10px;
        line-height: 40px;
    }

    .navbar{
        margin: 0px 30px;
       
    }

    .content{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateY(-60%);
        z-index: 2;
    }
    button{
        font-size: 18px;
        padding: 10px 15px;
    }
    .button2{
        font-size: 18px;
        padding: 10px 15px;
        background: #ff6392;
        color: #ffe45e;
        
    }
    .button2:hover{
        background: #ffe45e;
        color: #ff6392;
        transition: .5s;
    }
    
}


@media screen and (max-width: 299px) and (min-width: 200px){
    
    .logo{
        font-weight: 700;
        font-size: 18px;
    }

    h1{
        font-size: 26px;
        margin: 10px 0px 10px;
        line-height: 30px;
    }
    .navbar{
        margin: 0px 32px;
       
    }

    .content{
        position: absolute;
        top: 50%;
        left: 24%;
        transform: translateY(-60%);
        z-index: 2;
    }
    button{
        font-size: 16px;
        padding: 10px;
    }
    .button2{
        font-size: 18px;
        padding: 10px 15px;
        background: #ff6392;
        color: #ffe45e;
        
    }
    .button2:hover{
        background: #ffe45e;
        color: #ff6392;
        transition: .5s;
    }
    
}

